#bodyForm{
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}
#edit_form {
    width: 550px;
    padding: 20px;
    padding-right: 20px;
    background-color: #f2f2f287;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.211);
    font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
    margin-top: 5%;
    animation: slideIn 1s ease-out;
    transform: translateY(0%);
    align-items: center;
}
#buttondiv{
    text-align: center;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#edit_form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

#edit_form input[type="text"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 16px;
    color: #555;
    transition: border-color 0.3s, transform 0.3s ease;
}

#edit_form input[type="text"]:hover {
    transform: scale(1.02);
    border-color: #5b9bd5;
}

#edit_form input[type="text"]:focus {
    border-color: #5b9bd5;
    outline: none;
}

#edit_form button {
    display: inline-block;
    padding: 12px 25px;
    background-color: #5b9bd5;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s ease;
}

#edit_form button:hover {
    background-color: #417cbf;
    transform: translateY(-3px);
}

#edit_form button:active {
    transform: scale(0.98);
    background-color: #315a8a;
}

#edit_form div {
    margin-bottom: 15px;
}
